/* Small screens */
@media (max-width: 600px) {
    #div1{
        background-color: #EDF0F9;
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    #logo2 img{
        width: 100px;
        height: 100px;
        margin: auto;
    }
    #ham{
        color: #00008B;
    }
    #div2{
        display: none;
       background-color: #EDF0F9;
       height: 250px;
       width: 100%;
       border-radius: 0 0 20px 20px;
    }
    /* #div1 p {
      display: block;
    } */
    #logo{
        width: 158px;
        height: 100%;

    }
    
    #call{
        width: 35%;
       
    }
  
    #info{
        width: 25%;
        display: none;
    }
    #logo img{
        height: 100%;
        width: 100%;
        object-fit: cover;
      
    }
    #info2 p{
        color:  #00008B;
        cursor: pointer;
        margin: 3px;
        
    }
    #info2{
        margin-top: 40px;
       
        text-align: center;
        
    }
   
    #num{
        color: #00008B;
        font-size: 12px;
        font-weight: bold;
    }

}
  /* Medium screens */
  @media (min-width: 601px) and (max-width: 1024px) {
 
    #logo2 img{
        width: 100px;
        height: 100px;
        margin: auto;
    }
    #info2{
       
        margin-top: 40px;
       
        text-align: center;
    }
    #info2 p{
        color:  #00008B;
        cursor: pointer;
        margin: 3px;
        
    }
    #div1{
        background-color: #EDF0F9;
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: space-around;
    
    }
    #div2{
       display: none;
       background-color: #EDF0F9;
       height: 250px;
       width: 100%;
    }
    /* #div1 p {
      display: block;
    } */
    #logo{
        width: 158px;
        

    }
    #call{
        width: 35%;
       
    }
  
    #info{
        width: 25%;
       
        display: none;
    }
    #logo img{
      
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    #ham{
        color:#00008B;
    }
    #num{
        color: #00008B ;
        font-size: 18px;
        font-weight: bold;
    }
  }
  
  /* Large screens */
  @media (min-width: 1025px) {
    #div1{
        background-color: #EDF0F9;
        height: 100px;
        width: 100%;
        display: flex;
        
        justify-content: space-around;
       
    }
    #div2{
       display: none;
       background-color: #EDF0F9;
       height: 100px;
       width: 100%;
    }
    /* #div1 p {
      display: none;
    } */
    #logo{
        width: 158px;
        height: 100%;

    }
    #call{
        width: 25%;
      
    }
    #info{
        width: 25%;
        /* border: 2px solid black; */
        display: flex;
        justify-content: space-around;
        text-align: center;
        align-items: center;
        
       
    }
    #info p{
        color:  #00008B;
        position: relative;
        display: inline-block;
        padding-right: 10px; 
    }

    #info p::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 1px; /* Adjust the width of the vertical line as needed */
        height: 100%;
        background-color: gray; /* Set the color of the line */
      }

    #logo img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    #ham{
        display: none;
    }
    #num{
        color:  #00008B;
        font-size: 20px;
        font-weight: bold;
        position: relative;
        display: inline-block;
       
    }
  

  }