/* Small screens */
@media (max-width: 600px) {
  
   
    #main{
        display: flex;
        flex-direction: column;
        width: 100%;
        
    }
 
    #proDetail{
        margin: 20px;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 80%;
        border: 5px solid #F26522;
        border-radius: 5px;
        margin: auto;
        margin-bottom: 5px;
        border-radius: 8px;
        
    }
    #prodImage{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        
        height: 64%;
        width: 100%;
        overflow: hidden;
        
    }
    
    #prodImage img:first-child{
        object-fit: cover;
        

    }
    #numshown{
        display: none;
    }
   

}
  /* Medium screens */
  @media (min-width: 601px) and (max-width: 1024px) {
    #numshown{
        display: none;
    }
    #main{
        display: flex;
        flex-direction: column;
        width: "100%";
    }
 
    #proDetail{
        margin: 20px;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        border: 5px solid #F26522;
        border-radius: 8px;
    }
    #prodImage{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin: 5px;
        height: 64%;
        width: 98%;
        
    }
    #prodImage img{
        object-fit: cover;

    }

  }
  @media (min-width: 1025px) {
    #main{
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
 
    #prodImage{
        width: 65%;
        height: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
       
        
       
    }
   
    #proDetail{
        width: 30%;
        height: 60%;
        margin-top: 40px;
        border: 5px solid #F26522;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        
    }
    #call2{
        display: none;
    }
 

  }